@model Xmas.Areas.Membre.Models.GroupModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Détails</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomEvenement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomEvenement)
        </dd>

    </dl>
</div>
